---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import { siteConfig } from "../consts.ts";

interface Props {
		title?: string;
		description?: string;
		image?: string;
}

const { title = "", description = siteConfig.description, image } = Astro.props;

---
<!doctype html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7BBN4HL"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Header/>
		<main>
			<section class="cody-bg">
				<slot/>
			</section>
		</main>
		<Footer/>
	</body>
</html>
