---
import BaseLayout from './BaseLayout.astro';
import Navbar from '../components/astro/Navbar.astro';
import Footer from '../components/astro/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Navbar />
  <main class="pt-24 min-h-screen flex flex-col">
    <slot />
  </main>
  <Footer />
</BaseLayout>
